@model KapyTest1.Models.Source1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Source1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sourceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sourceUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sourceName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
